* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}

div {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    font-size: 200%;
}